@charset "UTF-8"; 

.pink-col{
    background-color: lightpink;
    color: white;
}
.green-col{
    background-color: lightgreen;
    color: white;
}
.black-col{
    background-color: black;
    color: white;
}